{% extends 'registration/base.html' %} {% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        
        <div class="col-md-4 mt-4">
            <div class="card ">
                <div class="card-title mt-4">
                    <h1 class="text-center">Sign In</h1>
               </div>
                <div class="card-body mb-3 mr-3 ml-3">
                    
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                        {% bootstrap_form form %}
                        <br>
                        <button type="submit" class="btn btn-primary btn-sm"> Log In</button>
                        
                    </form>
                </div>
            </div>
            <div class="card mt-2" >
                <div class="card-body mt-3 mb-3 mr-2 ml-4">
                    New to Instagram? <a href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}
