<div class="navbar fixed-top bg-white">
    <nav class="container">
      <span class="navbar-brand mb-0 h1">
          <a href="/">
              <div id="brand" class="instaicon logo d-none d-sm-block">
                  <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/%C4%B0nstagram-Profilime-Kim-Bakt%C4%B1-1.png" alt="" width="180" height="60" > -->
              </div>
              <div class="instaicon mainicon d-block d-sm-none">
                <img src="" alt="">
              </div>
          </a>
      </span>
      <div class="" style="margin-left:50%;">
        <form class="mb-0 h1 ml-auto mr-auto"  id="searchform" action="{% url 'search' %}" >
             <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
            <i class="spinner "></i>
        </form>
      </div>

        <span class="pull-right">
            <div class="instaicon like"></div>
            <a href="{% url 'profile' user.username %}" class="instaicon pers"></a>
        </span>
    </nav>
</div>